<% if (currentUser !== undefined) { %>
<script>
	var currentUser = {
		id: '<%= currentUser.id %>',
		email: '<%= currentUser.email %>',
		firstName: '<%= currentUser.firstName %>',
		lastLame: '<%= currentUser.lastLame %>',
		createdAt: '<%= currentUser.createdAt %>',
		updatedAt: '<%= currentUser.updatedAt %>'
	};
</script>
<% } %>

<nav-header></nav-header>

<div class="container" ui-view>


</div>